apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: more-cars-api
          #image: docker.io/dennisgerike/more-cars-api:latest
          image: ghcr.io/more-cars/rest-api:latest
          volumeMounts:
            - name: ssl-cert-volume
              mountPath: /app/certificates
              readOnly: true
          env:
            - name: DB_HOST
              value: $(API_DB_SERVICE_SERVICE_HOST)
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
          resources:
            requests:
              cpu: "50m"
              memory: "500Mi"
      volumes:
        - name: ssl-cert-volume
          secret:
            secretName: ssl-certificate
