apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ingress.yaml
  - api-service.yaml
  - api-deployment.yaml
  - db-service.yaml
  - db-pvc.yaml
  - db-deployment.yaml
  - db-facade-config-map.yaml
  - db-facade-deployment.yaml
  - db-facade-service.yaml
  - openapi-spec-service.yaml
  - openapi-spec-deployment.yaml
  - mc1/db-mc1-pvc.yaml
  - mc1/db-mc1-service.yaml
  - mc1/db-mc1-deployment.yaml

patches:
  - path: api-deployment.patch.json
    target:
      kind: Deployment
      name: api-deployment
  - path: ingress.patch.json
    target:
      kind: Ingress
      name: api-ingress
