apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - api-http-route.yaml
  - api-https-route.yaml
  - api-service.yaml
  - api-deployment.yaml
  - db-http-route.yaml
  - db-service.yaml
  - db-pvc.yaml
  - db-deployment.yaml
  - openapi-spec-http-route.yaml
  - openapi-spec-service.yaml
  - openapi-spec-deployment.yaml
  - mc1/db-mc1-pvc.yaml
  - mc1/db-mc1-service.yaml
  - mc1/db-mc1-deployment.yaml

patches:
  - path: api-deployment.patch.json
    target:
      kind: Deployment
      name: api-deployment
  - path: openapi-spec-deployment.patch.json
    target:
      kind: Deployment
      name: openapi-spec-deployment
  - path: api-https-route.patch.json
    target:
      kind: HTTPRoute
      name: api
  - path: openapi-spec-http-route.patch.json
    target:
      kind: HTTPRoute
      name: openapi-spec
  - path: db-http-route.patch.json
    target:
      kind: HTTPRoute
      name: db
