on:
  workflow_call:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment to run the tests against (e.g. testing)
        required: true
        type: choice
        options:
          - testing
          - prod
        default: testing

jobs:
  run-behavior-tests:
    name: "Run Behavior Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Install Node.js dependencies
        run: npm ci
      - name: Run Behavior Tests
        run: npm run tests:behavior
        env:
          API_URL: http://api.${{ inputs.environment }}.fast-cars.info
          DB_HOST: db.${{ inputs.environment }}.fast-cars.info
          DB_PASSWORD: 123456789
