on:
  workflow_call:

jobs:
  run-code-linter:
    name: Run Code Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Install Node.js dependencies
        run: npm ci
      - name: Run Code Linter
        run: npm run tests:lint:src
